:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.vkui__root {
  width: 100% !important;
  overflow-x: hidden !important;
}

.vkuiView {
  width: 100% !important;
}

.vkuiPanel__in,
.vkuiPanel__in-x {
  max-width: 600px !important;
  margin: 0 auto !important;
}